html, body, * {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  width: 100%;
}

header {
  width: 100%;
  height: 25vh;
  border: solid gray 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin-top: 16px;
  list-style-type: none;
}

li {
  margin: 0 16px;
  display: inline-block;
}
