html, body, * {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  width: 100%;
}

header {
  background-image: linear-gradient(to right top, #855988, #654473, #46305e, #271e49, #070b34);
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin-top: 16px;
  list-style-type: none;
}

li {
  margin: 0 16px;
  display: inline-block;
}


/*typeography styles*/

h1, li {
  color: #eee;
  font-family: 'Montserrat';
}

h1 {
  font-size: 48px;
}

li {
  font-size: 24px;
}
